<footer class="text-gray-600 body-font">
  <div
    class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
  >
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a
        class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
      >
        <div
          class="w-10 h-10 text-white p-2 bg-pink-100 rounded-full inline-flex items-center justify-center"
        >
          <img
            src="/images/logo.png"
            alt="Your Logo Description"
            class="w-full h-full object-cover"
          />
        </div>
        <span class="ml-3 text-xl">NaariRaksha</span>
      </a>
      <p class="mt-2 text-sm text-gray-500">
        Committed to Protecting and Supporting Women Everywhere
      </p>
    </div>
    <div
      class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Important Links
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/">Home</a>
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/helpline"
              >Helpline</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/registeracase"
              >Register a Case</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Other Links
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/safety"
              >Safety Tips</a
            >
          </li>
          <li>
            <a class="text-gray-600 hover:text-gray-800" href="/location"
              >Location Based Support</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Community Support
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a
              class="text-gray-600 hover:text-gray-800"
              href="/community/survivorStories"
              >Survivor Stories</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-gray-800"
              href="/community/multimedia"
              >Multimedia Support</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-gray-800"
              href="/community/feedback"
              >Feedback</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3"
        >
          Contact Us
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a
              class="text-gray-600 hover:text-gray-800"
              href="https://github.com/satwikkini-01"
              >Github</a
            >
          </li>
          <li>
            <a
              class="text-gray-600 hover:text-gray-800"
              href="https://instagram.com/satwik_kini.official"
              >Instagram</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div
      class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
    >
      <p class="text-gray-500 text-sm text-center sm:text-left">
        © 2024 NaariRaksha
      </p>
    </div>
  </div>
</footer>
